.developer_body {
}
.developer_section_one {
    width: 100%;
    min-height: 100vh;
    background: #0a131e;
    background: url(/src/devbg1.png);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.developer_section_one > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.developer_section_one h3{
    color: burlywood;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Nothing You Could Do', cursive;
}
.developer_section_one h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}
.developer_section_one p{
    font-size: 15px;
    width: 40%;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.developer_section_three {
    
}
.developer_section_four {
    
}
.developer_section_five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5% 20%;
    background: black;
    color: white;
}
.developer_section_five > h1{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}
.developer_section_five > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.developer_section_five_image {
    width: 32%;
    height: 300px;
    margin: 10px 0;
    border-radius: 5px;
}
.developer_section_six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5% 20%;
    background: #10100f;
    color: white;
}
.developer_section_six > h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}
.developer_section_six > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
.developer_section_six > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.developer_section_six_image {
    height: 40px;
    margin: 40px 30px;
}
@media all and (max-width: 600px) {
    .developer_section_one {
        justify-content: start;
        align-items: center;
        padding: 0 5%;
    }
    .developer_section_one > div{
        display: flex;
        flex-direction: start;
        align-items: start;
    }
    .developer_section_one h3{
        font-size: 20px;
    }
    .developer_section_one h1{
        font-size: 40px;
        font-weight: 500;
    }
    .developer_section_one p{
        font-size: 13px;
        width: 100%;
        text-align: start;
        line-height: 25px;
    }
    .developer_section_two{
        padding: 7.5% 5%;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .developer_section_two h1{
        font-size: 50px;
        font-weight: 200;
        margin: 0;
    }
    .developer_section_five {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 2.5% 5%;
    }
    .developer_section_five > h1{
        font-size: 20px;
    }
    .developer_section_five > div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .developer_section_five_image {
        width: 100%;
        margin: 10px 0;
    }
    .developer_section_six {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 2.5% 5%;
    }
    .developer_section_six > h1{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .developer_section_six > div{
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        width: 100%;
    }
    .developer_section_six > div > div{
        width: 100%;
    justify-content: start;
    align-items: start;
    }
    .developer_section_six_image {
        height: 10px;
        width: 15%;
        margin-bottom: 30px;
    }
}