.footer {
    background: black;
}
.footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.footer > div > p {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin: 0 20px;
}
.footer > div > h3 {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin: 0 20px;
}
.footer > div > p:hover {
    color: aqua;
    cursor: pointer;
}

@media all and (max-width: 600px) {
    .footer > div > p {
        color: white;
        font-size: 12px;
        font-weight: 400;
        margin: 0 5px;
    }
}