.home_section_one {
    min-height: 90vh;
    background: linear-gradient(to right, lemonchiffon, violet);
}
.section_two_bg {
    padding-top: 100px;
    width: 100%;
    background: transparent;
    border-radius: 0;
    overflow: hidden;
    
}
.section_two_fg {
    background: transparent;
    width: 500%;
    position: relative;
    display: flex;
    animation: primary 20s linear infinite;
}
.primary_one {
    display: flex;
    width: fit-content;
    align-items: center;
    opacity: 0.3;
}
.primary_two {
    display: flex;
    width: fit-content;
    align-items: center;
    opacity: 0.3;
}
.primary_one > h1 {
    font-size: 45px;
    margin: 0 10px;
}
.primary_two > h1 {
    font-size: 45px;
    margin: 0 10px;
}
.home_section_one_hero {
    margin: 10% 15%;
    padding: 30px;
    color: white;
}
.home_section_one_hero > h1{
    font-size: 25px;
    font-weight: 600;
    color: #7e312a;
}
.home_section_one_hero > p{
    font-size: 25px;
    width: 40%;
}
.section_one_arrow {
    position: absolute;
    top: 60vh;
    width: 10%;
    color: white;
    left: 80%;
    z-index: 2;
}
.arrow_one {
    width: 100%;
    font-size: 5px;
    opacity: 0;
    animation: arrowone 3s linear infinite;
    animation-delay: 0;
    animation-direction: alternate;
}
.arrow_two {
    width: 100%;
    font-size: 15px;
    opacity: 0;
    animation: arrowtwo 3s linear infinite;
    animation-delay: 1s;
    animation-direction: alternate;

}
.arrow_three {
    width: 100%;
    font-size: 25px;
    opacity: 0; 
    animation-delay: 6s;
    animation: arrowthree 3s linear infinite;
    animation-delay: 2s;
    animation-direction: alternate;

}
.home_section_two {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}
.home_section_two > h1{
    color: white;
    align-items: center;
    font-size: 60px;
}
.home_section_two > h1:hover{
    color: lemonchiffon;
}
.home_section_two > div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
}
.home_section_two > div > button{
    padding: 10px 20px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
@keyframes primary {
    0% { left: 0; }
    100% {left: -100%;}
}
@keyframes arrowone {
    0% { opacity: 0; }
    100% {opacity: 1;}
}
@keyframes arrowtwo {
    0% { opacity: 0; }
    100% {opacity: 1;}
}
@keyframes arrowthree {
    0% { opacity: 0; }
    100% {opacity: 1;}
}

@media all and (max-width: 1250px) {
    
}
@media all and (max-width: 600px) {
    .primary_one > h1 {
        font-size: 50px;
    }
    .primary_two > h1 {
        font-size: 50px;
    }
    .section_two_fg {
        width: 10000%;
        animation: primary 5s linear infinite;
    }
    .home_section_one_hero {
        margin: 25% 5%;
        color: white;
    }
    .home_section_one_hero > h1{
        font-size: 25px;
    }
    .home_section_one_hero > p{
        font-size: 20px;
        width: 100%;
    }
    .section_one_arrow {
        top: 80vh;
        left: 45%;
    }
    .home_section_two {
        padding: 10% 0;
    }
    .home_section_two > h1{
        color: white;
        align-items: center;
        font-size: 35px;
        text-align: start;
        padding-left: 5%;
    }
    .home_section_two > div{
        flex-direction: column;
        align-items: space-around;
        width: 90%;
        margin-top: 20px;
    }
    .home_section_two > div > button{
        margin-bottom: 20px;
    }
}
